@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';

}


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937

}

.link{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.logo{

}


.logo img{
    max-width: 140px;
    max-height: 100px;
}

.header-link{


}