@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';

}


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937

}

.link{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.logo{

}


.logo img{
    max-width: 140px;
    max-height: 100px;
    margin-top: 10px;
}

.header-link{


}


.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 25px;

}

.hero-text h1{
    color: white;
    font-size: 48px;
    font-weight: 900;

}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;

}

.hero-text button{
    background: #3882f6;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 12px;

}

.hero-image{

}

.randominfo{
    display: flex
;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.randominfo p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

.random-img{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0px 10px;

}

.info{
    text-align: center;
}


.random-img .info img{

}

.random-img .info p{

}

.quote{
    background-color: #E5E7EB;
}

.quote p{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 210px;
    padding-top: 40px;
}

.quote .last {
    display: flex ;
    justify-content: end;

}
.footer{
    height: 300px;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-background{
    background-color: #3882F6;
    background-color: #3882F6;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    height: 200px;
    
    width: 1200px;
}

.footer-text{
    color: white;
    font-weight: bold;
}

.footer-button{

}

.footer-button button{
    border-radius: 12px;
    height: 40px;
    width: 87px;
    background-color: #3882F6;
    border-color: white;

}